.div_buttons{
    display: flex;
     justify-content:center; 
}

.login{
    text-align: center ; 
    margin: auto;
    height: 250px;
}
.input{
    justify-content: center;
}
.degrade {
     background: linear-gradient(to bottom, #ff9900, rgb(59, 128, 207));
    height: 500px; 
     display: flex;
     
}
.btnLogin{
    width: 100px;
}
.input_password{
    margin-block-end: 15px;
}
