
.login{
    

}
.input{
    justify-content: center;
}
.degrade {
     background: linear-gradient(to bottom, #ff9900, rgb(59, 128, 207));
    width: 100%; /* ou a largura desejada */
    height: 500px; /* ou a altura desejada */
     
}
.btn{
    margin-top: 10px;
    width: 70px;
}